[2017-07-12 11:48] ForserX opened #1 "Migrating to github"
* Deleted bitbucket files
* Added .gitignore

[2017-07-12 12:09] #1 closed

[2017-07-12 12:16] ForserX opened #2 "Moving xrXML into xrCore"
* Moving xrXML into xrCore

[2017-07-12 17:28] ForserX opened #3 "Moving LuaJIT into xrScripts"
* Moving LuaJIT into xrScripts

[2017-07-13 00:07] ForserX opened #4 "Game Bugs"
* x64 Physics bug **(almost fixed)**
* text drawing bug **(fixed)**
![...](https://pp.userapi.com/c639622/v639622405/32f7d/4oLIRs6mQfU.jpg)

[2017-07-14 11:11] #2 closed

[2017-08-01 15:01] ForserX opened #5 "Add PhysX support"
Support ODE is not canceled!
* Added PhysX support
If you want help: go to branch Physx

[2017-08-01 15:47] ForserX opened #6 "Implement GPU count detection for AMD"
* Use AMD AGS

[2017-08-01 15:53] #6 closed

[2017-08-03 20:58] ForserX opened #8 "Crashing game on changing level"
The game does not record the level name when you create the AutoSave, but is loaded with the name of the level.

[2017-08-03 21:30] #4 closed

[2017-08-03 21:31] ForserX opened #9 "smar_covers direction bug"
![...](https://pp.userapi.com/c639622/v639622405/32f87/-sW9mmeeUuw.jpg)
Don't always work...

[2017-08-03 22:27] ForserX opened #10 "Bugfix xrLC"
* Incorrect compilation locations on x64

[2017-08-10 11:09] #3 closed

[2017-08-12 00:04] ForserX commented on #9
This bug LuaJIT 2.0.4 x64. The transition to 2.0.5 helped fixed it. Close #9

[2017-08-12 00:04] #9 closed

[2017-08-12 13:05] #8 closed

[2017-08-27 20:04] ForserX opened #11 "x32 support again."
Check whether the engine is going. If not, fix it.
- [x] xrCore
- [ ] xrCDB
- [ ] xrEngine
- [ ] xrGame
- [ ] xrRenders
- [x] BuildVM
- [x] OpenCode
- [ ] Anothers project

[2017-08-27 22:46] Borshig opened #12 "New Gameplay Features 28.08.2017"
- [ ]  Add target indicator frame as modification for helmets. // as in binocular
- [ ] Add physical magazines // ammo will be taken not from inventory.
- [ ] Add opportunity load different ammo type in physical magazines.
- [ ] Add unloading vest UI for physical magazines with slots for ones. // if actor have vest then more fast reload. (actor take magazine from vest and load him faster then from

[2017-09-01 18:11] ForserX opened #13 "Fix building warnings"
- [x] xrCore
- [x] xrEngine
- [x] xrRenders
- [x] xrScripts
- [x] xrGame
- [x] xrCDB
- [x] xrSounds
- [x] xrCPU_Pipe
- [x] Anothers projects
- [x] 3rd Party

[2017-09-08 19:31] ForserX opened #14 "AVX & SSE math"
- [x] Checking AVX features
- [x] Using SSE2 Elementary Math Functions (x32)
- [x] Using AVX Elementary Math Functions (x64)

[2017-09-09 22:23] ForserX opened #15 "Use 3DNow on x32 (Why not?)"
- [x] Using 3DNow!
- [x] Checking 3DNowExt!

[2017-09-10 13:15] ForserX opened #16 "Add lua modules"
- [x] LFS
- [x] LuaXML
- [x] Marshal

[2017-09-12 17:55] #16 closed

[2017-09-14 13:32] #15 closed

[2017-09-14 13:40] #14 closed

[2017-09-14 22:05] Swartz27 commented on #12
@Borshig Have you checked out Shoker's code branch? He has some of this stuff, as well as a ton of other things along these lines: https://github.com/ShokerStlk/xray-16-SWM/tree/dev-public

[2017-09-23 09:48] ForserX opened #17 "Mystery tip №56"
Will fix with the constant drawing 56 of the tips at boot time.

[2017-09-23 13:48] ForserX opened #18 "CWeaponPistol depricate"
- [x] Remove CWeaponPistol
- [x] Remove CWeaponCustomPistol
- [x] Replace inheritance CWeaponPistol by CWeaponMagazined
- [x] Replace inheritance CWeaponCustomPistol by CWeaponMagazined

[2017-09-26 22:33] revolucas opened #19 "Skeleton Wallmarks"
Sometimes a noticeable green square is created, what is the cause of this? I would have blamed the texture, but it occurs in a different location then the currently created wallmark. Here is a video: https://youtu.be/oB7FOjvPqdk

[2017-09-27 06:57] ForserX commented on #19
Oh, thx. I check it later.

[2017-09-27 21:33] revolucas commented on #19
https://postimg.org/image/n79ubclpx/

Sometimes this can happen from just a single shot on all dynamic objects.

[2017-09-28 00:24] Swartz27 opened #20 "x64 can't allocate enough memory"
Your Release->x64 configuration does not allow for proper allocation of more than 2.5-3gb or whatever the limit is. I added high resolution textures that I use in Radium to the repos gamedata folder and it will crash every time now with an error about particles. I'm not posting the error regarding particles because it's a memory limit error with nothing to do with that: it stops around 2.5-3gb eve

[2017-09-28 07:04] ForserX commented on #20
1 GB is reserved for lua, which can cause such a problem.

[2017-09-30 15:13] Swartz27 commented on #20
I'm not sure if you mean that its a problem on my end or a problem with the code. No new scripts used and I have an absurd amount of RAM.

[2017-09-30 20:00] ForserX commented on #20
@Swartz27, The problem is that I can not say for sure, because I do not have your resources. Probably the partices are not optimized, perhaps the types of data do not stretch, etc.

[2017-09-30 21:55] Swartz27 commented on #20
I guess what I'm getting at is this is not a proper x64 repo, something is wrong with it.
I reccomend porting your changes to the latest lm-dex repo. His doesn't have these problems, and you're based off him anyway, why not use the latest code?
If not it's all good, but I guess I'm just surprised that it was never tested that this used more than 4gb as thats kinda the point of x64...

[2017-10-01 07:00] ForserX commented on #20
@Swartz27, Repositories are too different, so there will not be any transfer. Initially, the repository was made under the original game, on which everything works.

[2017-10-08 08:35] DaaGuda opened #21 "LINK : fatal error LNK1104: не удается открыть файл "opc.lib""
При сборке xrCDB получается вот такое:

1>------ Сборка начата: проект: xrCDB, Конфигурация: Debug Win32 ------
1>LINK : fatal error LNK1104: не удается открыть файл "opc.lib"
1>Сборка проекта "xrCDB.vcxproj" завершена с ошибкой.
========== Сборка: успешно: 0, с ошибками: 1, без изменений: 3, пропущено: 0 ==========

[2017-10-08 09:17] ForserX commented on #21
1. Ставь Release(Если есть поддержка AVX, иначе Release_AI32) и x64.
1. Сбилди OpenCode

[2017-10-08 09:18] #21 closed

[2017-10-28 22:24] ForserX opened #29 "Appveyour"
- [x] Add the project
- [x] Сonfigurate the project
- [x] Finally configure the service Appveyour.

[2017-10-29 10:11] ForserX commented on #29
Done.

[2017-10-29 10:11] #29 closed

[2017-10-30 10:15] #20 closed

[2017-10-30 10:49] #13 closed

[2017-11-02 21:11] revolucas commented on #17
Is this about loading screen tips? It's because math.randomseed needs set.

Place:
math.randomseed(os.time())
math.random()

at the top of loadscreen.script

[2017-11-03 09:44] ForserX commented on #17
Thx!

[2017-11-03 09:50] #17 closed

[2017-11-07 14:58] #10 closed

[2017-11-07 19:14] #11 closed

[2017-11-08 03:18] revolucas commented on #19
Knife creates two blood marks. This is because it shoots 2 bullets as if it was a short-ranged shotgun: https://pastebin.com/FcJMATir

But why does it only render one mark on walls, but two on bodies?

[2017-11-08 05:25] ForserX commented on #19
@revolucas
I'll deal with this when I rewrite the weapons classes.

[2017-11-08 18:54] ForserX opened #37 "Protocol unity."
Associations of functions of one class from multiple files into one.

- [ ] inline
- [ ] impl
- [x] scripts
- [x] another

[2017-11-16 18:11] ForserX opened #39 "Support cform ver.4 again."
Make support for the original levels.

[2017-11-17 12:45] #39 closed

[2017-11-28 20:01] ForserX opened #47 "xrEngine - Dynamic library"
- [x] Remake xrEngine
- [x] Make xrPlay init-system

[2017-12-05 06:04] ForserX opened #48 "Remove ".dll" suffix from LoadModule calls"
- [ ] Remove ".dll" suffix from LoadModule calls.

[2017-12-05 06:07] ForserX opened #49 "VXAO Support"
Why not?
-[ ] Add VXAO support to XRay

[2017-12-05 07:43] ForserX opened #50 "nvTT & CUDA"
### CUDA
- [x] Add CUDA SDK
- [x] xrCompilers use CUDA
### NVTT
- [x] Add nvTT
- [x] DXT use nvtt

[2017-12-08 21:27] ForserX opened #53 "Update CPUID"
Add CPU ID from https://github.com/ForserX/CPUID

[2017-12-09 00:08] S3r1ous commented on #49
https://github.com/kayru/dssdo
How about SSDO like in CryEngine?(well theirs is probably more advanced but still)
https://github.com/TheRealMJP/Shadows
and some more advanced Shadow Mapping?
this is also probably more compatible with other hardware like Intel and AMD graphics

[2017-12-09 13:07] SC1040-TS2 commented on #49
VXAO is a nice technology to have on hand, but I have to wonder if its occlusion would be a bit wonky in places given the current state of the engine, both in release and as of the inactive OpenXRay build apart from the Im-Dex and your own forks of that code.

On a different note, I've noticee a strong NVIDIA technology slant in your work, which, while nice, brings up the question of trying to inc

[2017-12-09 13:15] ForserX commented on #49
@SC1040-TS2: I'm an AMD user, so some nVidia features are not available. The plans to bring API from AMD.

[2017-12-09 21:28] #48 closed

[2017-12-09 21:56] #18 closed

[2017-12-10 09:27] #53 closed

[2017-12-10 15:55] #19 closed

[2017-12-10 15:56] ForserX opened #54 "Knife creates two bloodmarks"
Knife creates two blood marks. This is because it shoots 2 bullets as if it was a short-ranged shotgun: https://pastebin.com/FcJMATir

But why does it only render one mark on walls, but two on bodies?

(C) Revolucas

[2017-12-12 03:32] Derranged opened #55 "Immediate CTD when using Release Binaries"
Hello, sorry if this is the wrong way to go about reporting these kind of issues however when attempting to use the release binaries the game will CTD.

Here is the log:
[[12.12.2017 13.27.51].log](https://github.com/ForserX/xray-oxygen/files/1550155/12.12.2017.13.27.51.log)

I have tried a few things to fix this however haven't been able to get it working. I am also using the Steam version as my

[2017-12-12 05:38] ForserX commented on #55
Your COP is English version?

[2017-12-12 05:41] Derranged commented on #55
Yes it is.

[2017-12-12 05:43] Derranged commented on #55
I just changed the localization to Russian and it worked straight away! Is there any engine mods that restrict this or can I fix this by changing files in gamedata?

[2017-12-12 06:00] ForserX commented on #55
Transfer the changes from ui_st_loadscreen.xml to the English version. There are removed tips with mp keys. If you send PR, I will be grateful.

[2017-12-12 06:35] Derranged commented on #55
I have merged both together however the crash persists when changed back to English localization.

Here's the modified files if you would like to test, I have used software to check for differences between the Russian and English files and they appear to be correct.
[eng.zip](https://github.com/ForserX/xray-oxygen/files/1550493/eng.zip)

[2017-12-12 07:27] Derranged commented on #55
Ok I fixed that issue, sorry I made a mistake.
Here's the fixed version that does work.
[eng.zip](https://github.com/ForserX/xray-oxygen/files/1550606/eng.zip)

However I had a crash when Unloading ammo from a gun, whatever the characters are in the crash are in Russian and are broken as my computer cannot read it.
[[12.12.2017 17.15.26].log](https://github.com/ForserX/xray-oxygen/files/1550618/12

[2017-12-12 07:42] Derranged commented on #55
I am also crashing when loading saves
[[12.12.2017 17.38.04].log](https://github.com/ForserX/xray-oxygen/files/1550658/12.12.2017.17.38.04.log)

[2017-12-12 08:56] ForserX commented on #55
I know, WIP.

[2017-12-13 19:53] ForserX commented on #55
Now everything is all right. There will be bugs, make a new request.

[2017-12-13 19:53] #55 closed

[2017-12-13 23:22] Derranged opened #58 "Random CTD"
I have been having this issue while bug finding, there appears to be no obvious trigger and happens anywhere on the map.

[[14.12.2017 09.13.41].log](https://github.com/ForserX/xray-oxygen/files/1557454/14.12.2017.09.13.41.log)
[[14.12.2017 09.04.40].log](https://github.com/ForserX/xray-oxygen/files/1557436/14.12.2017.09.04.40.log)
[[13.12.2017 14.34.45].log](https://github.com/ForserX/xray-oxygen

[2017-12-14 01:43] Derranged commented on #58
Just had another random CTD when talking to a Stalker.
[[14.12.2017 11.37.49].log](https://github.com/ForserX/xray-oxygen/files/1557672/14.12.2017.11.37.49.log)

[2017-12-14 11:40] ForserX opened #59 "VS15.5"
- [x] Fix LuaBind build
- [x] Fix xrGame build

[2017-12-14 12:18] ForserX commented on #58
Which commit are you using?

[2017-12-14 12:33] Derranged commented on #58
I am using your latest release version, I haven't compiled any myself.

[2017-12-14 12:51] ForserX commented on #58
@Derranged,

[2017-12-14 12:51] #58 closed

[2017-12-15 20:58] ForserX opened #61 "LuaBind refactoring"
- [ ] Support std::map again (iterator_pair_policy.hpp)
- [ ] Move fucntions code to .cpp

[2017-12-17 06:09] S3r1ous commented on #49
On the other hand there are versions of Voxel Illumination that work without need hardware specific functions besides 3D textures
http://www.diva-portal.org/smash/get/diva2:1148572/FULLTEXT01.pdf
their Source Code: https://github.com/AnotherHermit/VoxelConeTracing
but might be too heavy because its GI instead of simple AO

[2017-12-18 08:49] ForserX commented on #59
Done.

[2017-12-18 08:49] #59 closed

[2017-12-19 02:14] Derranged opened #62 "CTD During Emission"
I believe the emission was about to finish as the game CTD. Here's the log.
[[19.12.2017 12.02.04].log](https://github.com/xrOxygen/xray-oxygen/files/1570076/19.12.2017.12.02.04.log)

I am using the latest release.

[2017-12-20 21:17] ForserX opened #63 "xrPostprocessEditor don't working"
- [ ] Fix loading .ppe
- [ ] Fix selecting frame

[2017-12-25 14:56] S3r1ous opened #64 "CTDs with exceptions"
stack trace:

0x00007FFA9B073FB8 KERNELBASE.dll, RaiseException() + 104 byte(s)

Last release without this crash is 851
I get this right after giving the artifact to Beard (quest) (from the Barge etc)
Seems to happen every time
Tested on DX9 and DX10 renderers
My system is Windows 10 (1709) and i have the latest VC2017 redistributables installed (14.12.25810)

[2017-12-25 15:21] ForserX commented on #64
Wow! Thanks man, i fix it later. I'm a now fixes plugins, sorry.

[2017-12-29 15:12] LtPetrov commented on #54
This is CoC problem.

[2017-12-29 15:12] #54 closed

[2018-01-09 21:36] ForserX opened #65 "Take item system (NPC)"
New system:

Bugs:
- [x] Taking a quest items (Fixed)
- [ ] Taking the weapon and using it if no ammo (need fix)

Bugs/Features:
- [x] Robbing stashes (Disabled)

Features:
- [x] Not required mp_ranks.ltx
- [x] Faster

[2018-01-15 04:26] S3r1ous commented on #64
seems to be resolved with the latest builds (testing)

[2018-01-15 04:53] #64 closed

[2018-01-19 06:03] S3r1ous opened #68 "2 graphical? issues"
I believe these are one of the oldest bugs...
basically when you step in water it shimmers right?
its kind of hard to explain, basicly it seems shimmering is too fast or out of sync, similar problem with anomalies

second
R4 (dx11) renderer is too dark even during day, looks like its evening or night all the time during whole day/weather cycle

latest builds, no mods
win10, ryzen1600, rx480

[2018-01-20 18:37] ForserX opened #69 "OpenAL Soft"
## ToDo: ##
- [x] Integration Soft OAL
- [x] EFX Support

## Note: ##
* EAX is Deprecated anyway
* [Site](http://kcat.strangesoft.net/openal)

## Maybe: ##
- [ ] HRTF Support

## Work: ##
* [xray-oxygen@soft_oal](https://github.com/xrOxygen/xray-oxygen/tree/soft_oal)

[2018-01-20 22:00] #69 closed

[2018-01-30 10:40] #62 closed

[2018-01-30 10:41] #61 closed

[2018-02-03 08:00] #47 closed

[2018-02-05 03:29] S3r1ous opened #74 "Bolts and Flashlight"
Flashlights has static foggy texture when you turn it on
Bolts seems to come out players belly button instead of hand lol?

[2018-02-05 05:55] ForserX commented on #74
It's volumetric light. Fix later.

[2018-02-13 20:56] ForserX opened #76 "Move xrNetServer.dll into xrEngine.dll"
Due to the fact that the system is client-server processing of the data is still tightly sewn into the architecture of the engine, then let it be in the main library – xrEngine.

- [x] Move xrNetServer into xrEngine

[2018-02-13 21:00] ForserX opened #77 "DirectX 12 and DirectXTex libarary"
- [ ] Implementation DirectX 12
- [ ] Integration DirectXTex API

[2018-02-15 08:49] ForserX commented on #74
Done.

[2018-02-15 08:49] #74 closed

[2018-02-15 17:14] ForserX opened #79 "CPUID to clipboard"
- [ ] Add cpu info to clipboard if game as crashed

[2018-02-15 21:39] ForserX opened #80 "xrCDB OPCODE 1.3"
- [x] Integration opcode 1.3
- [ ] x64 support

Work: [opcode-13](https://github.com/xrOxygen/xray-oxygen/tree/OpCode-13)

[2018-02-16 17:48] #80 closed

[2018-02-17 15:04] S3r1ous opened #82 "Volumetric Lighting / Sky"
Love the new Volumetric Lighting but sky is too bright and flickers in Yanov
Here is save from there
https://www.dropbox.com/s/6mthsi7aub9tqha/yanovskyflicker.zip

[2018-02-17 16:16] #76 closed

[2018-02-24 11:07] FreeZoneMods opened #88 "Uninitialized member in InventoryOwner"
https://github.com/xrOxygen/xray-oxygen/blob/5c4d0825d95cb43862c43b47f570e4a2d4da994b/code/engine.vc2008/xrGame/InventoryOwner.h#L117

Think it would be better to initialize the member in the constructor by calling EnableInvUpgrade to prevent any kinds of UB.

[2018-02-24 11:09] ForserX commented on #88
Hmm... I check it later.

[2018-02-24 11:42] ForserX commented on #88
К черту инглиш, я спешу. В общем, не советую, т.к. лишние затраты по памяти будут, ибо если бы были обращения, когда переменная была бы значения, то словил бы отладчик исключений. В общем, всё валидно. Имхо

[2018-02-24 13:03] FreeZoneMods commented on #88
Какие нафиг затраты по памяти? У тебя в классе однобайтовый член m_bAllowInvUpgrade остается по-любому, и неважно, инициализирован ли он или нет (не надейся, что компилятор его вырежет за ненадобностью - поле экспортируется в скрипты). Только вот если он не инициализирован, в нем может находиться полная хрень в зависимости от фазы луны. Более того, при разных режимах сборки только что сконструиров

[2018-02-24 13:14] ForserX commented on #88
Лол. А по памяти ты прав. Сорри, затупил. Я полностью код не смотрел, думал просто переменная. Ладно, ночью буду дома, посмотрю, используется ли вообще.

[2018-02-24 20:57] #88 closed

[2018-02-24 21:14] #82 closed

[2018-02-26 11:16] S3r1ous commented on #68
dx11 lighting seems fixed in the latest builds but water still moves erratically

[2018-02-26 11:17] ForserX commented on #68
Okay.

[2018-03-29 21:03] Swartz27 opened #93 "Two minor issues"
1) When compiling the source manually by downloading a zip of the current main repo, the code fails to compile due to unresolved externals regarding NVAPI (I'm referring to the renderers of course).

2) Unfortunately with the past several "releases" that I try, I can't even get the game to start. The log says that things regarding "BUY_MENU" are not there. I can get more specific by giving a detai

[2018-04-04 06:47] S3r1ous opened #94 "3 issues"
1 Game wouldnt even launch, Breakpoint and crash, got past it by using older 1181 files i had from \configs\text\eng
log: [https://justpaste.it/1j61a](url)

2 it worked, but DX10/DX11 crashes with "your video card doesnt meet requirements etc" and then breakpoint
log: [https://justpaste.it/1j61j](url)

3 once i use just dx9, i get yellow screen ingame
image: [https://s14.postimg.org/kwnq1czm9/ss_a

[2018-04-04 09:23] Alexandrr260 opened #95 "xrSound"
The engine will be able to 3d position stereo audio files? :)
And also have a quality HRTF?)

[2018-04-04 13:36] S3r1ous commented on #94
all fixed it seems with latest build

[2018-04-04 13:42] S3r1ous opened #96 "sky and textures"
it seems the weather isnt changing/clouds arent moving also some textures are uhh too shiny?
https://s14.postimg.org/m3oc7d7kh/ss_user1_04-04-18_16-34-43_zaton.png
log (looks ok): https://justpaste.it/1j6qh

[2018-04-04 14:39] #94 closed

[2018-04-04 14:41] ForserX commented on #96
@S3r1ous, hmmm...

[2018-04-04 14:51] ForserX commented on #93
@Swartz27: How are the successes with the a port into
 the English version?

[2018-04-04 19:32] Swartz27 commented on #96
I know what the problem is: this was clearly designed for r2_gloss_factor to be set to 1. You also need to go into ps_combine_1.hlsl, find the line "float3 spec = C.www * L.rgb + hspecular" and change it to vanilla, which is "float3 spec = C.www + hspecular"

Not only should this solve any issues, I must say that the lighting looks really nice.

[2018-04-04 19:43] Swartz27 commented on #93
@ForserX Easy peasy :)  Everything is working properly. Great work to you and the rest of the team as well. This is some really sweet stuff.

[2018-04-04 20:48] ForserX commented on #93
@Swartz27, if you the fixed starting on eng version - you can make PR?

[2018-04-05 12:56] #93 closed

[2018-04-05 12:56] #96 closed

[2018-04-05 12:57] #68 closed

[2018-04-05 13:03] #37 closed

[2018-04-05 13:04] #79 closed

[2018-04-05 17:30] S3r1ous commented on #96
hmm rocks are fine now but
https://s14.postimg.org/wnz6stk9d/ss_user1_04-05-18_20-27-39_zaton.png

[2018-04-05 17:48] ForserX commented on #96
Delete user.ltx

[2018-04-05 20:15] Swartz27 opened #97 "FX11 support for shaders"
I'm working on a variety of things that I plan on doing a pull request for (some good and balanced visuals for all three renderers), but anyway, as someone that knows very little C++, it sucks as a shader author not really understanding how to implement everything needed, most importantly: techniques/multi-passes in one shader.

One possible solution could be FX11 (and FX9&10 too I suppose).

Basi

[2018-04-05 20:57] ForserX commented on #97
I have the opposite. There is no understanding of the shader system. Because of what I can not really help you.

I'll try at leisure to understand what FX11 is, but I do not promise anything.

In any case, you can send PR, whether it's a shader fix, a new effect, or something else. We will support and try to drive it into the C ++ sampler.

[2018-04-05 22:37] Swartz27 commented on #97
Luckily FX11 is actually C++: you wouldn't have to touch shader code, just the renderer code in the source.

As for trouble understanding the shader system, I'm pretty well versed in this stuff at this point, so even if I currently have no means of adding certain things C++ side, if you guys can do that part I can take requests and at least prepare some new shaders for usage. I can include them in

[2018-04-06 05:38] ForserX commented on #97
Okay.

[2018-04-09 11:34] #95 closed

[2018-04-11 02:17] Swartz27 commented on #77
Just noticed this: very promising :)
If you guys want help with this, I can easily write all new shaders for D3D12. Suggestion: keep me in the loop with the rendering pipeline so I can build good shaders, and if I may suggest, it would be really good if D3D12 used Deffered Shading instead of vanilla Deffered Lighting (supposedly Deffered Shading is usually faster these days).

[2018-04-12 14:15] ForserX opened #103 "Server-Client cleanup"
This topic is dedicated to the remainder of the multiplayer mode. For this month I want to completely get rid of the remaining tails in the following subsystems.
- [x] Game Server Base
- [x] xrServer
- [x] xrClientData
- [x] IPure classes
- [x] xrMessages
- [x] CLevel

[2018-04-25 14:30] #103 closed

[2018-04-28 14:35] ForserX opened #110 "Terrible code style in xrLC."
- [x] Re-factor and clean up most of this code.
- [x] Replace dozens of three-line functions with lambda.

[2018-05-05 21:29] ForserX commented on #65
И так сойдёт...

[2018-05-05 21:29] #65 closed

[2018-05-07 16:21] ForserX opened #117 "Generic Software sound system"
- OpenAL Soft Problem!

- [ ] Fix for wrap_oal error
0x0000000007A9C0DF (wrap_oal.dll)

[2018-05-10 07:00] ForserX commented on #97
Src added.

[2018-05-10 07:00] #97 closed

[2018-05-10 07:32] S3r1ous commented on #63
probably related to postprocessing, rain drops appear on the screen even indoors, say inside Skadovsk,
when you get up while its raining outside and they dont seem to go offscreen either when you go inside

[2018-05-10 07:43] ForserX commented on #63
The principle is the same as that of wetting. NPCs in the rooms, too, get wet.

[2018-05-12 16:20] maxgvz opened #121 "The Application was Unable to Start Correctly (0xc000007b)"
Cannot start xRay Oxygen.
Got error "The Application was Unable to Start Correctly (0xc000007b)"
Tried 1.7f.119 and 1.7f.164.
All packages was installed .NET framework 4.7.2 (x64), .NET core runtime 2.0.7 (x64)...
All installed in windows. Java, net, c++, live... everything.
Even replace DirectX files.
Windows 10 licensed (x64).

Other games works fine. Never had that issues before ran this.

[2018-05-12 16:34] Xottab-DUTY commented on #121
Maybe you're lack of Visual C++ Redistributable 2017? It's the most common reason why 0xc000007b appeares.

[2018-05-12 16:49] maxgvz commented on #121
**Microsoft Visual C++ 2017 Redistributable (x64) - 14.10.25017** - also installed.

[2018-05-12 16:51] maxgvz commented on #121
Before this I got error message like "The code execution cannot proceed because OpenAL32.dll was not found". I had copied this file from /bin/ to /bins/ and after this have issue "The Application was Unable to Start Correctly (0xc000007b)".

[2018-05-12 16:56] Xottab-DUTY commented on #121
There's installed for OpenAL in `external` folder, please use it instead of just copying.

[2018-05-12 18:45] maxgvz commented on #121
It works now! Thank you!

[2018-05-13 09:41] #121 closed

[2018-05-14 06:04] revolucas commented on #117
We've had sound related issues as well. Using older wrap_oal.dll (2008) seemed to fix ours. Though, you require x64 binary, that might be more difficult to find.

[2018-05-14 06:09] ForserX commented on #117
EAX we do not have, the problem is on all sound cards. Appeared after the update OpenAL Soft. Waiting for his next update.

[2018-05-14 21:52] #117 closed

[2018-05-15 21:11] RGBplaya opened #124 "VCRUNTIME140.dll was not found"
![image](https://user-images.githubusercontent.com/38107216/40083710-af54f95e-589d-11e8-8ade-28233602ff8e.png)

[2018-05-15 21:12] RGBplaya commented on #124
also this one was not found
![image](https://user-images.githubusercontent.com/38107216/40083733-c3d36334-589d-11e8-8868-fc3dc86303a7.png)

[2018-05-15 21:13] RGBplaya commented on #124
And this ones
![image](https://user-images.githubusercontent.com/38107216/40083792-eb2aff46-589d-11e8-83f6-69b1c232317a.png)
![image](https://user-images.githubusercontent.com/38107216/40083806-f190805e-589d-11e8-94ed-6dbab9379bcc.png)

[2018-05-15 21:14] ForserX commented on #124
You have  Microsoft Visual C++ 2015?

[2018-05-15 21:16] RGBplaya commented on #124
i have
![image](https://user-images.githubusercontent.com/38107216/40083945-53a9635a-589e-11e8-9024-a5d3facfe43e.png)

[2018-05-15 21:25] RGBplaya commented on #124
i've deleted two 2017, installed the 2015 one, didnt fix :( (i'm such a noob at this thing)

[2018-05-15 21:28] Xottab-DUTY commented on #124
Try to not override `bin` folder.

`bins` was created for a reason! It is recommended to leave Oxygen's is bins folder!

[2018-05-15 21:30] ForserX commented on #124
Install 2015 and 2017. Or wait new release...

[2018-05-15 21:33] revolucas commented on #124
@RGBplaya  https://www.youtube.com/watch?v=oakoNKyk_I8

[2018-05-15 22:11] RGBplaya commented on #124
а мне надо только х64 или и 32(86) и 64?

[2018-05-15 22:13] RGBplaya commented on #124
А что мне с этой ошибкой сделать?
![image](https://user-images.githubusercontent.com/38107216/40086253-4a45a0fa-58a6-11e8-8b4b-d17ffa0c6f25.png)

[2018-05-15 22:30] RGBplaya commented on #124
в общем я очень хотел поиграть, но не могу, нашел в интернете эти два DLL установил и писало про ошибку 0xc00000007b после узнал что надо визуал 2017 установил но мне все равно писало ту ошибку..  :(

[2018-05-15 22:42] RGBplaya commented on #124
цитируя форсера (Install 2015 and 2017. Or wait new release...) думаю что тут какая то супер глупая ошибка. я скачал супер чистого сталкера нашел какой то левый распаковщик геймдаты, распаковал, и узнал про это счастье, и теперь страдаю потому что мне надо визуал который у меня установлен в 32 и 64 :( также ucrtbased какой-то вообще левый...

[2018-05-16 05:35] ForserX opened #125 "Remove ref at vs2015"
xrSound problems

[2018-05-16 11:50] RGBplaya commented on #124
не бросай меня навсегда ;(

[2018-05-16 17:16] sr-tream opened #129 "Add debug libs to release archive"
Please add debug libs to release archive, or compile in Release mode.
System can't find VCRUNTIME140D.dll. VC redist 2015 is installed

[2018-05-17 11:19] #125 closed

[2018-05-17 11:19] #129 closed

[2018-05-17 14:27] Noiker opened #130 "Sleep bug in "Yanov" station"
When i wake up, i die. I don't know why

[2018-05-18 17:08] ForserX opened #133 "New messages system"
- [ ] To replace the packing of messages in packets over a variable in the gamestate .

[2018-05-21 08:40] #130 closed

[2018-05-21 15:07] Swartz27 opened #137 "Suggestion"
Create a dev branch. Do all WIP stuff there. Once it's tested and working THEN put it in the main branch.

I understand this is the reason for the appveyor sln file, but when I tried it it also built faulty code.

I have been working hard on a new renderer for you guys (I haven't uploaded it yet because it's WIP and incompatible with some of the changes you guys have made) but this stuff keeps set

[2018-05-21 18:00] Swartz27 commented on #137
Alright, just re-read this. Sorry about this guys, I was in a really bad mood earlier, had nothing to do with you. As I'm sure you're all aware I have some anger issues, which I'm trying my best to resolve. Luckily weed does the trick and mellows me the fuck out. Sorry about this. Closing it now.

[2018-05-21 18:30] ForserX commented on #137
If you want, I can give access to the main repository. Create a separate branch and send the changes.

[2018-05-22 17:33] Swartz27 commented on #137
@ForserX I appreciate the offer, but for now what I will do is commit the changes that will work with things currently to my repo, then do a pull request. Then I'll create a new branch with the WIP renderer (just need to clean it a bit first).
At some point, once I've shown I know what I'm doing, then I would be willing to accept your generous offer.

[2018-05-29 19:53] Swartz27 opened #148 "Revert my shit"
I fucked up somewhere, do not use this currently. I'm trying to figure out what I did wrong.

[2018-05-29 20:03] ForserX commented on #148
Okay.

[2018-05-29 20:29] Swartz27 commented on #148
https://www.youtube.com/watch?v=jP5e2XJsB_4  <-- Me on this strain XD  Back to Sativa, I hate Indica, especially the memory loss...

[2018-05-29 20:31] ForserX commented on #148
[code]
Fixed version.
[code]
Dead code.

[2018-05-29 21:12] Swartz27 commented on #148
Thanks, however that is not the only issue (I fucked up some shaders: this can be fixed by doing a search in the shader files and deleting all instances of "uniform float4 screen_res" that are not in common.h. There may be other mistakes as well. Luckily I found a way to sober up, so now I can take a proper look.

[2018-05-29 21:13] ForserX commented on #148
I'm fixed all problems. Check: https://github.com/xrOxygen/xray-oxygen/commit/73c48f4e95a4ff055167327c83aa91759f38536e

Closed #137

[2018-05-29 21:13] #148 closed

[2018-05-29 21:13] #137 closed

[2018-06-02 16:43] derBABO88 opened #149 "Unable to run game"
Hello,

I compiled the solution without any errors. However, when I replace the original game dll's with the newly compiled ones from Oxygen 1.7, xrEngine.exe throws an application error saying the app cannot be correctly started (0xc000007b).

Any clue as to what went wrong?

[2018-06-02 17:37] ForserX commented on #149
Install OpenAL Soft.
game/external/
And use xrPlay.exe. (Double click)

[2018-06-02 17:38] ForserX commented on #149
Don't replace original bin. Creat new directory. Sample: bins

[2018-06-02 18:47] AgronomNN commented on #149
1.7f.218 release working, 1.7f.352 throws apperror, with no logs at all

[2018-06-02 19:03] AgronomNN commented on #149
[[02.06.2018 21.49.28].log](https://github.com/xrOxygen/xray-oxygen/files/2065275/02.06.2018.21.49.28.log)

[2018-06-02 19:14] ForserX commented on #149
Delete user.ltx

[2018-06-02 19:16] AgronomNN commented on #149
Yes, this help, thanks

[2018-06-03 11:02] #149 closed

[2018-06-04 20:12] derBABO88 opened #150 "Application error"
I'm getting an application error when trying to run the game saying "incompatible hardware".
[[04.06.2018 21.56.40].log](https://github.com/xrOxygen/xray-oxygen/files/2069815/04.06.2018.21.56.40.log)

[2018-06-04 20:16] ForserX commented on #150
1. Delete user.ltx
2. Your PC support full dx9?

[2018-06-04 20:22] derBABO88 commented on #150
I tried deleting user.ltx from the Documents folder, it didn't help. Yes PC does support dx9.
[[04.06.2018 22.19.02].log](https://github.com/xrOxygen/xray-oxygen/files/2069846/04.06.2018.22.19.02.log)

[2018-06-04 20:30] ForserX commented on #150
[code]
WTF?!
Use COP directoris

[2018-06-04 21:31] derBABO88 commented on #150
Can you tell me how the project has to be set up within Visual Studio? Maybe I'm doing something wrong in setting up the paths or folders. Is there a guide / manual how to set this up correctly?

[2018-06-04 21:32] Xottab-DUTY commented on #150
xrPlay -> Properties -> Debugging -> Working directory -> Set this to COP root folder.

[2018-06-07 19:23] MatthewKush opened #152 "Ryzen cpu bug"
When playing with lm-dex's repository, my Ryzen 1700 is correctly identified as having 8 cores, 16 threads.
However in this repository, it says I have 16 cores, and 16 threads.
It's also a bit slower CPU-wise.

This is on Release x64 build.

[2018-06-07 20:14] ForserX commented on #152
Oxygen CPUID incorrect checking SMID on Ryzon.

[2018-06-08 09:10] #150 closed

[2018-06-29 15:46] ForserX commented on #152
Fixed on https://github.com/xrOxygen/xray-oxygen/commit/399e9e440c6d5bb036ba40dba14942fb02318f76

[2018-06-29 15:46] #152 closed

[2018-06-29 15:46] ForserX commented on #110
See: https://github.com/xrOxygen/xray-oxygen/tree/xrLC_Redux

[2018-06-29 15:46] #110 closed

[2018-06-29 15:49] ForserX commented on #133
https://github.com/xrOxygen/xray-oxygen/commit/6d49848a6b56e5b9738b4a0c06f1cb0e2df2c380

[2018-06-29 15:58] ForserX opened #165 "SMAA"
- [x] Add support SMAA to renders.

[2018-07-11 14:33] collectioner commented on #63
Planned changes/fixes/features:

- [ ] Finish interaction (changing values)
- [ ] Fix of critical bug with loaded file
- [ ] Chart addition for visualization.

[2018-07-18 20:41] #50 closed

[2018-08-02 15:33] MatthewKush opened #190 "Perhaps we should change the back-buffer size now?"
Hi, so I am writing this here because I want to know how you guys feel about this.

Basically, my thinking is that I would assume that almost nobody has a 4:3 monitor at this point, and if they still do my guess is they can achieve better than 1024x768 resolution at this point (however I'm a bit naive about how things are in other parts of the world, I need input).

Basically, in xrEngine/defines.

[2018-08-02 19:30] RainbowZerg commented on #190
Hi, Matthew. I think that it would be nice to remove these fixed values from xrEngine/defines.cpp and select initial resolution based on the user's desktop resolution like it's done in most of modern games.
I'm not sure that i correctly understood your words about "The higher the resolution of the initial backbuffer, the better the final image quality" so the following might be obvious for you. Ba

[2018-08-02 23:37] MatthewKush commented on #190
@RainbowZerg Oh ok. I guess I did not understand that correctly then. I'm just curious then: these games that are claiming to be "native 4k", what does that even mean then?

P.S. I love the work you're doing. I'm learning more about rendering from your work.

[2018-08-03 09:03] RainbowZerg commented on #190
@MatthewKush I don't know what "native 4k" really means, perhaps it is about consoles, not all of which supports this resolution (some of them can only render at 1080p and then stretching image to fit 4k screen), and/or about game's textures size.
On a PC, if the game correctly enumerates supported display modes (what does not always happen to old games which even haven't a widescreen support), al

[2018-08-03 14:06] Xottab-DUTY commented on #190
Actually, a better name for `psCurrentVidMode` is `wantedResolution`. That is how this variable is used in the engine and it's default value (1024,768) should have no impact on final image quality. Otherwise this should be fixed. Probable cause of this is that it may be used before the actual resolution selection.

[2018-08-03 17:56] MatthewKush commented on #190
@Xottab-DUTY Yep, exactly, they set it as 1024 and 768 as the initial size as that was a common resolution at the time and it was a good initial value for the backbuffer. I guess what I misunderstood is I guess I thought that somehow by using a larger initial image it somehow improved image quality, sort of like super-sampling, but I have obviously misunderstood that.

Speaking of super-sampling,

[2018-08-31 10:34] UAVXP opened #210 "Outdated invite Discord link"
Discord link that you have at project description is dead. Please, make another one

[2018-08-31 10:45] ForserX commented on #210
https://discord.gg/gp5M7qz

[2018-08-31 11:02] UAVXP commented on #210
Strange, it shows that this invite is invalid too. I was never been at this server and cannot be banned. Also, user server limit is not reached

[2018-08-31 11:04] UAVXP commented on #210
Okay, that was my fault - I was not logged in at my browser

[2018-08-31 11:04] #210 closed

[2018-09-03 14:49] lekzd opened #211 "How it possible to build xrGame on Windows 7 x64?"
What i tried:
- VS2015 (issues with newest C++ features, can not build)
- VS2017 build was successful, but I can not run executable, because of target Windows SDK version is "10" or "8.1", and no able to choose "7" (similar to x64 and win32 configurations).

How to deal with it? Because of released version from github releases page works well on Windows 7

I just want to switch on AF_PSP actor fla

[2018-09-03 14:53] Giperionn commented on #211
День добрый.
Большинство разработчиков сидит на Windows 10, поэтому мы даже и незнали об этом.
Мы используем последний SDK чтобы использовать все новые плюшки когда они только только выходят. Поэтому вот так.

[2018-09-03 15:03] ForserX commented on #211
Отправь свою правку к нам через PR, я скину тебе собранный вариант, аналогичный готовым релизам.

[2018-09-03 16:28] lekzd commented on #211
@ForserX надеюсь, оно работает, как надо:
https://github.com/xrOxygen/xray-oxygen/pull/212

[2018-09-03 17:50] lekzd commented on #211
взял артефакт с appveyor, там нормально собираются бинарники, думаю на первое время этого хватит. Фича почему-то не работает, видно надо еще поинвестигировать, как это работает

[2018-09-05 04:06] MatthewKush commented on #211
@lekzd I'd use Google Translate to understand the Russian responses, but I (currently) only know English, I'm in a hurry, and I suspect I know what the issue is.

xrRender/xrRenderPC_R4/stdafx.h is the culprit, and it's due to the DXGI version specified in the file: it's only in the Win10 SDK. I'm assuming it's this because I remember posting this code, not thinking people might use it before I wa

[2018-09-05 09:28] lekzd commented on #211
@MatthewKush I have problems with XAudio2 library, that wants Win10 SDK version only. And I was shocked about builds from appveyor works on my mashine.

[2018-09-05 11:27] ForserX commented on #211
I don't have win10. Use ox_dev brach. xAudion on ox_dev maybe support Win7

[2018-09-09 01:18] jimmon89 opened #214 "minor bug - hud constantly flickers while aiming with a weapon"
I've tried with enhanced lighting DX9 and 11, the entire time i'm aimed down sights the HUD repeatedly flickers on top of my weapon/scope, with or without a scope makes little difference.
![off](https://user-images.githubusercontent.com/6391541/45260064-e30ea480-b3aa-11e8-9594-efa1c52b8d37.png)
![on](https://user-images.githubusercontent.com/6391541/45260065-e30ea480-b3aa-11e8-9197-0fb173681451.pn

[2018-09-11 21:51] ForserX commented on #214
Probably the problem is due to the multithreading. Disassembled.

[2018-09-11 22:56] jimmon89 commented on #214
is there anything more you need me to do to pin down the cause

[2018-09-12 19:01] jimmon89 commented on #214
just a shot in the dark here, but if i set my cpu affinity for xrPlay.exe to a single core, would that force the entire game to run on a single thread? or am i mistaken on how that all works?

[2018-09-12 20:13] ForserX commented on #214
All threads will work alternately. I do not advise.

[2018-09-19 22:49] jimmon89 opened #219 "minor bug - weapon still shows while aiming through scope"
![19-09-2018 18-39-55 zaton](https://user-images.githubusercontent.com/6391541/45785879-06074700-bc3c-11e8-9925-71f92ba8b4dc.png)
![19-09-2018 18-41-05 zaton](https://user-images.githubusercontent.com/6391541/45785883-09023780-bc3c-11e8-94c3-0986401400dd.png)
the screenshots should say it all
picture 1 is a Sig-550
and picture 2 is an SVD
while aiming with  a scope the weapon continues to show thr

[2018-09-19 22:52] ForserX commented on #219
Ops.

[2018-09-19 22:53] jimmon89 commented on #219
it happens

[2018-09-20 01:01] jimmon89 commented on #219
i would like to note that i tried the appveyor build that was just referenced in this ticket and the issue is still present
 - build tested: [https://ci.appveyor.com/project/xrOxygen/xray-oxygen/build/1.7f.703](https://ci.appveyor.com/project/xrOxygen/xray-oxygen/build/1.7f.703)

[2018-09-20 22:50] ForserX commented on #219
Check last commit. (ox_dev)

[2018-09-20 22:50] #211 closed

[2018-09-21 00:38] jimmon89 commented on #219
so the weapon is no longer showing while aimed through a scope...
however issue #214 has reared its ugly head once again

[2018-09-21 08:52] #219 closed

[2018-09-21 12:26] jimmon89 commented on #214
with build [https://ci.appveyor.com/project/xrOxygen/xray-oxygen/build/1.7f.706](https://ci.appveyor.com/project/xrOxygen/xray-oxygen/build/1.7f.706) this issue is back, but not as severe

[2018-09-21 12:33] jimmon89 opened #221 "minor bug - #214 is back - hud flickers while aimed with a weapon"
bug #214 is back, but not as severe, instead of constantly flickering, every second or two the hud rapidly flashes several times over top of the scope, then repeats.

 - OS: windows 7 64 bit
 - Video Resolution: 1920x1080
 - Motherboard: Gigabyte GA-78LMT-S2 Rev. 2
 - Chip set: AMD - 780G
 - South Bridge: AMD - SB700
 - RAM: 2x 8Gb - DDR3
 - RAM Bandwidth: PC3-10700 - 667MHz
 - CPU: AMD FX 6100 -

[2018-09-29 01:26] MatthewKush commented on #49
@ForserX Ok, I will. It may still be a while. On top of the many things I am now doing, I'm also writing a brand new game engine out of frustration at UE4 and Unity. So I'm busy, and honestly Call of Pripyat is the most boring game in the entire series: it's simply the only somewhat acceptable engine in the Stalker series and they still did a bad job. Once I submit the PR I am likely never coming

[2018-10-03 01:09] MatthewKush commented on #49
Still working on this (my C++ is trash, I like to stick to HLSL when possible).

The thing is that even though it works, the performance hit is simply too big.

Would "Light Propagation Volumes" be acceptable? Their performance is superior, even though it may not be quite as accurate.

[2018-10-03 03:13] ForserX commented on #49
You can push only shader code. In the engine, we will bind ourselves.

[2018-10-03 20:13] ForserX opened #227 "TBB Alloc or new WinAPI ThreadPool"
The ThreadPool we have now is too slow. If anyone has any ideas what to use or a ready implementation, you can speak/share here.

Maybe:
* TBB Alloc
* WinAPI ThreadPool (again)
* STD ThreadPool

[2018-10-04 05:39] Xottab-DUTY commented on #190
@MatthewKush, hi Matty! What do you think about changing the backbuffer format from 32-bit R8G8B8A8 to 64-bit R16G16B16A16? I tried to do this and got gamma overexposure. The image on the screen was too white.

[2018-10-04 14:04] MatthewKush commented on #190
@MatthewKush Hi. Yeah you can do that, but then you'll need to play with the tonemapper values and sun_lumscale values to get things back into the appropriate range again. It could be a lot of work that way.
Instead I recommend using the current industry-standard: R10G10B10A2. With this format you'll also have HDR-10 support, though obviously common-usage of HDR-10 is still a long way off (the mon

[2018-10-04 14:16] Xottab-DUTY commented on #190
@MatthewKush, yes `R10G10B10A2` is working fine in OpenXRay, except one thing – when you're trying to make a screenshot, it fails. The same appears to be in the Oxygen. Switch to DirectTex from D3DX should fix this probably.

[2018-10-14 19:30] MatthewKush opened #232 "Should we adopt a procedural sky?"
I've been thinking a lot about adding a procedural sky system to this engine (btw, if anyone can explain how I can use the weather editor please tell me: I want to make a weather mod).

Here is my reasoning:
No more loading of sky textures. This is good because in order to get decent quality, the file size can be a problem. Look at when SWTC:COP first came out. The author used DXT5 for skyboxes to

[2018-10-15 08:44] MatthewKush opened #233 "Critical bug: constant buffer out of alignment"
File: xrRender/Blender_Recorder_StandartBinding.cpp

https://docs.microsoft.com/en-us/windows/desktop/direct3dhlsl/dx-graphics-hlsl-packing-rules

The constant buffers are completely out of alignment. They need to be aligned to 16 bytes. There are also constants in there that are rarely or never used and should be put elsewhere. This is likely a huge cause of stuttering. My guess is it's been out

[2018-10-15 09:12] MatthewKush commented on #233
I want to leave this here for reference:
https://developer.nvidia.com/content/constant-buffers-without-constant-pain-0

For each and every constant buffer "miss" (and we have lots of them) they estimate a loss of 100-200 cpu cycles, and that is happening every frame.

[2018-10-16 13:58] MatthewKush commented on #233
I don't know why I bother.

[2018-10-16 14:08] #214 closed

[2018-10-16 22:45] MatthewKush commented on #233
I'm so fucking pissed at the xray-oxygen people right now, I do nothing but try and help you guys and you still treat me like shit...

THE RUMOR THAT I AM RACIST AGAINST RUSSIANS IS NOT TRUE. I LOST MY VIRGINITY TO A MEXICAN WOMAN. MY FIRST SERIOUS RELATIONSHIP WAS WITH A BLACK WOMAN. I WAS SET-UP BY AN ASSHOLE WHO WANTS TO THINK HE'S SOME RENDERING GENIUS WHEN IN REALITY HE'S PRETENDING TO WORK O

[2018-10-17 05:45] ForserX commented on #233
Wtf? I am in session and did not watch what was happening. What happened?

[2018-10-18 18:37] #221 closed

[2018-10-21 15:00] ForserX commented on #165
Done

[2018-10-21 15:00] #165 closed

[2018-10-21 15:03] ForserX opened #238 "OpenCL, CUDA and new compilers"
xrLC Redux:
-[x] CUDA light progressive
-[ ] OpenCL light progressive

-[ ] Remove lightmap
-[x] Remove network code

[2018-10-27 15:34] nowherecrafter opened #241 "Some tag modification in character_desc_[level].xml"
I have a goal to introduce more randomness inside an NPC generator, but some tags used to describe in-game characters for some reason can contain only a specific nomber.

For example:
`<rank>60</rank>
 <reputation>0</reputation>`

But the next tag in the list has a diffrent form. And I like it more:
`<money min="5000" max="10000" infinitive="0"/>`

I'd like you to remove the requirement of closing

[2018-10-29 12:20] MatthewKush commented on #233
@ForserX Don't worry about it. All you need to know is I had started drinking again, let's forget about the childish comment I made above. Thank you for inviting me to this organization. I'll do my best to be less of a psycho XD

[2018-10-29 12:22] ForserX commented on #233
@MatthewKush, no problem, man)

[2018-10-30 15:31] MatthewKush opened #243 "Add shader "toolbox""
I have a lot of tricks, functions variables, defines, and full shaders for just about anything imaginable.

I am currently working on a folder called "shader_toolbox" inside gamedata/shaders that can be used on both R2 and R3/R4 (and R5 when that's done).

Some examples: Bending foliage, variety of GI solutions, shadows, PBR stuff, helpful functions, neat post-process effects (I have an "LSD" effe

[2018-10-30 15:37] MatthewKush commented on #243
Helpful links:
https://thebookofshaders.com
https://mynameismjp.wordpress.com/
https://turanszkij.wordpress.com/
https://blog.selfshadow.com/
http://www.iquilezles.org/
https://0fps.net/

[2018-10-30 17:51] ForserX commented on #243
Waiting for your toolbox. On my account there is a universal DLAA shader for all renders with a description. You can take from there and add here.

[2018-10-30 23:56] MatthewKush commented on #243
@ForserX It's night not my time XD  Right now it's about 8PM/20:00.
This will likely be my usual time each day.

[2018-10-30 23:57] MatthewKush commented on #243
and yes I will update with DLAA.

[2018-11-06 14:37] darkhpp opened #248 "Implement profiler in the hud"
It sometimes hard to detect low-performance function. So let's make a profiler that displays performance graph in the upper right side of the screen, might be useful for developers.

[2018-11-06 14:37] SevastyanDark commented on #248
@ForserX can you assign me?

[2018-11-06 15:22] ForserX commented on #248
Maybe use VS Profiler

[2018-11-06 15:54] SevastyanDark commented on #248
VS profiler isn't comfortable as it can be used only when the application is closed and cant provide in-game statistics. I will play with it for a bit and say my opinion.

[2018-11-06 16:03] Xottab-DUTY commented on #248
As far as I know, we already have a profiler.

[2018-11-06 16:06] ForserX commented on #248
@SevastyanDark, окей, пили

[2018-11-06 16:06] Xottab-DUTY commented on #248
Yes it is.
[xrGame/profiler.h](https://github.com/xrOxygen/xray-oxygen/blob/master/code/engine.vc2008/xrGame/profiler.h)
[xrGame/profiler.cpp](https://github.com/xrOxygen/xray-oxygen/blob/master/code/engine.vc2008/xrGame/profiler.cpp)
[xrGame/profiler_inline.h](https://github.com/xrOxygen/xray-oxygen/blob/master/code/engine.vc2008/xrGame/profiler_inline.h)

[2018-11-06 20:22] ForserX commented on #243
:smiley:

[2018-11-07 20:36] ForserX opened #253 "DirectX Math on xrOxygen"
Pluses:
* Fast port math code to XBox
* SSE/AVX math code

Use:
- [x] Kernel matrix: Projection, Transform, View
- [ ] All engine

Check: #249

[2018-11-07 22:04] MatthewKush opened #254 "Bug: Sun causing performance slowdowns"
If you go outside in Call of Pripyat, on any version of the game really, and then look in the direction of the sun, your framerate should go down the closer towards the sun you're looking.

I noticed that GSC always refer to the sun as "fucking sun", so obviously they found something very frustrating about it.
I noticed the sun cascade code is pretty long, when it seems like most graphic-engines I

[2018-11-08 03:43] SevastyanDark commented on #254
@MatthewKush I will look into that as soon as I write profiler.

[2018-11-08 18:43] DoctypeRosenthal opened #255 "xrPlay.exe crashes on start"
the log says:

I just copy and pasted the whole shebang over to my Lost Alpha installation. Was that wrong? Sorry that I'm a douche without a clue ^^

[2018-11-08 19:50] DoctypeRosenthal commented on #255
Thank you! :D
So how do I install it over CoP? Just copy and paste the stuffs into the game folder?

[2018-11-08 20:12] Xottab-DUTY commented on #255
Yea, that's it)

[2018-11-08 20:13] #255 closed

[2018-11-11 14:18] MatthewKush commented on #254
@SevastyanDark Thanks (sorry for late reply).

This issue is more serious than I first thought: I have some optimizations incoming, and with them on my 1070, I get ~500fps when staring at the ground at the starting position, around 250fps when looking in the exact opposite direction of the sun, and about 13fps when looking at the sun directly.

@ForserX I'm assuming you already know about the curr

[2018-11-12 20:02] MatthewKush commented on #254
Disregard about my performance issues: I had forgot to reinstall my chipset driver.

[2018-11-12 20:04] ForserX commented on #254
@MatthewKush, lol, fine, man

[2018-11-13 17:49] MatthewKush commented on #232
I'm doing a giant PBR overhaul of all the shaders and this will be included in it.
It'll probably need to be a brand new renderer (I'll do it, but I'll need help loading GSC specific things like OGF files, the map files, stuff like that).

[2018-11-14 22:03] ForserX opened #257 "Quaternion skinning problem"
All bones has visible anyway.
![15-11-2018 00-56-56](https://user-images.githubusercontent.com/13867290/48515623-423cd980-e872-11e8-8870-f76bc27c4582.png)
https://github.com/xrOxygen/xray-oxygen/commit/0f624b50b561648344217e7a806531dd2bf153e1

[2018-11-15 03:35] MatthewKush commented on #257
The C++ part is confusing so I can't help there, but I've been working on this a bit anyway. Quaternions are some tricky shit indeed but I'll do my best.

I suggest we do what other engines do though: instead of putting it in a header like it currently is we could make it into a Compute shader so it runs real fast.

We also don't have to stick to GSC's style of doing it: we can "borrow" from somew

[2018-11-15 08:51] SevastyanDark commented on #254
@MatthewKush Shall we close this now?
As for my PC, looking on the sun directly increases fps by 10-15 fps.

[2018-11-15 17:10] MatthewKush commented on #254
@SevastyanDark No, this is still an issue. Not having my chipset driver was actually a blessing: by running so slow it exposed to me several major problems in Xray 1.6 (base, not the changes you guys have made):

1) The sun is the cause of many problems. Although I only lose 10-15 fps when looking at the sun as well right now, we shouldn't be losing any FPS at all looking at the sun. Something is

[2018-11-15 17:20] MatthewKush commented on #243
@ForserX I'm finding I'm very stretched for time right now, especially since I'm looking to get back to working full-time. I probably won't be able to work on this much at all anymore.

People can always message me for some quick help and I'll do my best, but I no longer have the free time that I used to have.

I'm closing this as there's no longer enough time with it (this isn't me being pissy fo

[2018-11-15 17:20] #243 closed

[2018-11-18 11:48] DoctypeRosenthal commented on #255
Question: what do I have to do to use the new engine with Shadow of Chernobyl?

[2018-11-18 11:53] SevastyanDark commented on #255
@DoctypeRosenthal SoC runs on a different engine; you can`t combine oxygen and SoC.

[2018-11-18 12:00] DoctypeRosenthal commented on #255
So ogsr runs... Interesting!

[2018-11-18 12:02] Xottab-DUTY commented on #255
@SevastyanDark What? Call of Chernobyl is a mod for Call of Pripyat with it's own engine.

[2018-11-18 12:04] SevastyanDark commented on #255
@Xottab-DUTY I mean the oxy engine is incompatible with the original SoC

[2018-11-18 12:11] DoctypeRosenthal commented on #255
The only thing I hate about ogsr is the overdone SSAO on the vegetation. It looks cheap and ruins the 3d experience instead of enhancing it :(

[2018-11-18 12:11] Xottab-DUTY commented on #255
I know, but you said that Call of Chernobyl is compatible with ShoC while it don't.

[2018-11-18 12:13] DoctypeRosenthal commented on #255
@Sevastyan no he didn't.

[2018-11-18 12:19] Xottab-DUTY commented on #255
He did!

[2018-11-18 12:29] DoctypeRosenthal commented on #255
So, oxy is only compatible with CoP and nothing else? Pls tell me with which mods/games it is compatible with.
SoC: no
Lost alpha: no
Clear sky: no
CoP: yes
OGSR: ?
Call of Chernobyl: ?

[2018-11-18 12:29] Xottab-DUTY commented on #255
Only COP

[2018-11-18 12:30] Xottab-DUTY commented on #255
Other projects are using their own engines.

[2018-11-18 12:39] SevastyanDark commented on #255
@DoctypeRosenthal Mods using oxy as a platform, or other cop mods(but not guaranteed).

[2018-11-18 15:18] SevastyanDark commented on #255
See [wiki](https://github.com/xrOxygen/xray-oxygen/wiki) for changelog

[2018-11-19 19:57] aregic commented on #150
Same error for me. None of these solutions helped.
[[19.11.2018 20.53.12].log](https://github.com/xrOxygen/xray-oxygen/files/2596868/19.11.2018.20.53.12.log)

[2018-11-20 03:31] SevastyanDark commented on #150
@aregic Did you compiled renderers?

[2018-11-20 18:55] aregic commented on #150
For now I'm just trying to make it work by using the built release. The renderers are next to the xrPlay.exe

[2018-11-21 04:34] SevastyanDark commented on #150
@ForserX

[2018-12-03 20:15] ForserX commented on #5
https://github.com/NVIDIAGameWorks/PhysX-3.4

PhysX OpenSource mode: on

[2018-12-08 03:44] ghost opened #262 "[D3D11] I owe you guys one large Graphics feature"
Due to obnoxious, weird, and often arrogant behavior, I feel I owe everyone who is here something.

Although I'm done with Stalker, I still owe you guys.

Name one major feature you want implemented in Stalker.
Global illumination? Special SSAO methods? Complex post-processing effect? Framework for Physically Based Rendering? Screen space reflections?

I'm giving myself till December 31st: if I do

[2018-12-08 04:04] SevastyanDark commented on #262
Let's start simple: some optimizations in shaders code.

[2018-12-08 14:37] MatthewKush commented on #262
@SevastyanDark No problem. I'm on it.

[2018-12-08 22:50] MatthewKush commented on #262
Ok, I have a task for someone that has what would be considered an "old" video-card that is still able to get at least 60fps at 1920x1080.
What I want to know, is the model of your card. With that I can calculate certain features, such as this one:
We can utilize the Second-Viewport that Shoker created for a secondary purpose: render-to-texture reflections (I believe these are called "Planar refle

[2018-12-08 23:46] ForserX commented on #262
AMD R4 + Cross AMD R5
DX11 (Average settings): 19 FPS in Sun/30 FPS in Rain

[2018-12-09 14:10] MatthewKush commented on #262
Whoa. Not good. Yeah, we definitely need as many optimizations as possible.

[2018-12-10 12:55] SevastyanDark commented on #262
FX 4330 OC 4.3GHz + GT 3010 OC
Ultra settings(ssao not hbao): Sun: 25fps; Rain: ~30 +-2 fps

[2018-12-10 14:01] MatthewKush commented on #262
Crap. Really bad.
I just added some optimizations a second ago. Please test.

[2018-12-10 14:33] RainbowZerg commented on #262
Despite the fact that there are many places in renderer that probably can (and should) be optimized, graphics part isn't the main problem at all. Oxygen's renderer isn't so much different from vanilla CoP or broken in some way. As far as i know, there is something wrong with scripting system that causing framerate drops by 2-4 times in some places compared to original.

[2018-12-10 16:34] ForserX commented on #262
Renderer system is low speed

[2018-12-10 19:32] MatthewKush commented on #262
I actually had a decent idea. I've always bitched and moaned about re-writing the renderer...
Yes, I'm offering that. I would hope RainbowZerg would help though, as he understands certain things better than me and honestly I enjoy working with him.
I didn't understand the C++ side before, and I didn't quite understand Xray before. I'm sure I do now though, honestly.

I'd actually gladly take on su

[2018-12-10 20:14] ForserX commented on #262
Render code in xrEngine using for xrGame call's.

[2018-12-10 20:46] MatthewKush commented on #262
Oh, ok, so I don't necessarily have to worry about how those are written then.
I'll rename the "pbr" repo, I'll work inside there.
Have a preference as to how I name the renderer?
I don't understand DX9 as much as I do D3D10&11 (everyone was already doing that, so I decided to learn the other route).
But, with some help, we could make it similar to what it looks like you guys want anyway: DX11 but

[2018-12-11 06:57] SevastyanDark commented on #262
@MattewKush Sorry, I mean gt 1030 oc

[2018-12-11 16:15] MatthewKush commented on #262
@SevastyanDark No worries :)

Before going hob-wild crazy and re-writing the whole renderer like I stated (I'm cutting back on the weed, I smoke waaay too much), I have some ideas on what might be causing some slowdowns. It's some mistakes I made earlier in the code, I'm going to make sure they've been fixed, and if not I'll fix them and we'll see if performance improves.

[2018-12-11 18:17] MatthewKush commented on #262
There was also a typo affecting all of R4 (just fixed it).

[2018-12-12 14:00] MatthewKush commented on #262
I know there's still issues (working on it now).

[2018-12-12 23:06] MatthewKush commented on #262
Alright, I was able to reproduce the bug you guys mentioned to me. The reason I didn't see it before is because I'm on Windows 10, and I guess the latest version(s) of DXGI solve the issue.

@ForserX What version of Windows are you currently on? I'm assuming you're not on Windows 10? If you are on Windows 10 then there goes that theory.

A rewrite may indeed be necessary.

[2018-12-13 12:04] porames25 opened #263 "Omes0502"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the  @behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follo

[2018-12-13 12:55] ForserX commented on #263
It's bugstack issues?

[2018-12-13 12:58] ForserX commented on #262
Win8.1

[2018-12-13 13:34] Xottab-DUTY commented on #263
Это пустой багрепорт, сделанный с шаблона без изменений.
![chargerhm2_small](https://user-images.githubusercontent.com/2989212/49941918-aac8b600-ff05-11e8-8be6-6cc39c27ea24.png)

[2018-12-13 14:31] #263 closed

[2018-12-13 21:44] Xottab-DUTY commented on #262
At the current moment, engine requires unique named shader resources and constants. Feature level 9 mode can create two different objects with the one same name and this behaviour breaks the engine. So, if you want to support it, the engine's renderer should be refactored.

You also have to consider that changes should not reduce performance. One sloppy move and the performance will drop.

(https:

[2018-12-13 23:08] MatthewKush commented on #262
@Xottab-DUTY I am aware, and I'll make sure I don't fuck it up. I'm staying sober when I code, I'm leaving the weed for the evenings.

[2018-12-14 15:55] MatthewKush commented on #262
I think the best option for the new renderer is to utilize "bgfx" and I can customize it for Xray: https://github.com/bkaradzic/bgfx

From their readme:

" Cross-platform, graphics API agnostic, "Bring Your Own Engine/Framework" style rendering library.

Supported rendering backends:

Direct3D 9
Direct3D 11
Direct3D 12
Metal
OpenGL 2.1
OpenGL 3.1+
OpenGL ES 2
OpenGL ES 3.1
WebGL 1.0
WebGL 2.0
Supp

[2018-12-14 17:38] Xottab-DUTY commented on #262
As far as I see, `bgfx` doesn't support geometric and tesselation shaders. Only vertex, pixel and compute ones. Do you really want to reimplement this stuff?

[2018-12-14 18:58] MatthewKush commented on #262
Xottab, you're talking about this stuff like it's really complex. It's not. That would not take long to do. I know I haven't demonstrated my abilities to people so I understand the doubt,
look, maybe I should just keep patching the existing renderers guys?
I'm running out of ideas on how I can help out here. I really am trying.

[2018-12-14 19:42] Xottab-DUTY commented on #262
Ah, sorry me then. I didn't worked with bgfx, so yes, I thought it would be hardie to do))

@ForserX, @RainbowZerg, @Giperionn, @Vertver and others, what do you think about this?

[2018-12-15 04:49] RainbowZerg commented on #262
I must to say that all my graphics programming experience mainly consists of editing X-Ray Engine (including my activity in xrOxygen project), some little studying of DirectX samples, reading various graphics-related articles/tutorials and not very successful attempt at writing my own DX9 renderer (DX9 in 2017, lol), so my opinion should not be considered like something very important.

As for bgf

[2018-12-15 07:00] MatthewKush commented on #262
@SevastyanDark Awesome, I'll take a look at that now.
@RainbowZerg Don't sweat it dude, I'll take care of this.

I have a lot going on over the next 2 days, but I'm taking this seriously.
Even if it's not done by Dec 31st I'll keep working on it until it's finished.

[2018-12-16 20:09] ForserX commented on #63
Changes:
* Fixed color format for ppe.
* Fixed load and save
* Implemented 50% frames

[2018-12-17 02:10] MatthewKush commented on #262
Alright, as usual I rushed right through the previous reply and didn't read it throughly. I'm sorry.

I agree that this new renderer idea may not have been the wisest idea. I'm starting on repairing the existing renderer. I'll keep chipping away at it, and hopefully soon we'll see some nice performance improvements.

Unfortunately a lot of these improvements have less to do with the shaders and mo

[2018-12-21 02:52] sinaps52ru commented on #262
Очень не хватает такого же шейдера как models/model_aref, но само светящегося, как models/selflight.
I really need a shader, similar to models / model_aref, but luminous itself, like models / selflight.

[2018-12-21 13:38] ForserX commented on #262
Не о тех шейдеров речь

[2018-12-22 21:19] MatthewKush commented on #262
I think ForserX is just saying he wants me to focus on the task at hand.

Although I've been busy, I'm now back on this.
I'm going line by line through the shaders and re-writing them, then going into the source code and modifying the value changes.
If I uploaded what I've done so far I fear it would immediately be added, which wouldn't be good, as it's slower due to the fact that I'm having to re

[2018-12-23 06:58] SevastyanDark commented on #262
lol

[2018-12-24 19:43] MatthewKush commented on #262
Gotta say I don't feel all that welcome here (never have, though that doesn't excuse my bizarre outbursts). It's nothing anyone says, it's the silence whenever I ask for a response/comments.

I'm going to go with my gut and go away. No hard feelings from my end, I do get it. I'd probably do the same based on my past behavior.

I experiment a lot and learn new things when I code which is the main r

[2018-12-24 20:06] ForserX commented on #262
@MatthewKush:
New year's vanity now , and all of us not to the project. We have every person is a welcome guest. Look at the other discussions. That's where the real silence is. Don't be. If you want to work, work. Do not comply with terms? And who do we have to comply with them?! Don't overreact. You have talent, go ahead and develop. If you're not interested in XRay, go ahead. But stop feeling u

[2018-12-26 04:46] MatthewKush commented on #262
@ForserX Just when I thought I had few friends left, and you left me this awesome message :)

Sure thing dude, you've got it. I'm back on it.

I get mopey a lot. I have my reasons, ignore my bullshit, I always get over it, sometimes I just need a little help in the right direction, like what you just did.
I have PTSD, I don't always think rationally, and I apologize for all the problems it's cause

[2018-12-26 05:57] SevastyanDark commented on #262
@MatthewKush Just ignore every bullshit at come on, and you'll surely get it.

[2018-12-28 17:12] MatthewKush opened #267 "[Community] Free Escape From Tarkov standard addition and two keys"
I know this isn't quite the right place for it, but on my EFT account I've been gifted a free Standard Edition of EFT and I also have two 14-day trial keys they gave me too.

Contributors to this repo get first dibs, just let me know where to send these codes and enjoy if you don't already have it.

[2018-12-28 21:53] MatthewKush commented on #267
lol.
@Xottab-DUTY Open-xray people get second dibs XD Do you have EFT yet?

[2018-12-28 21:57] ForserX commented on #267
I will send it to discord server

[2018-12-28 21:57] MatthewKush commented on #267
@ForserX Thanks bro. If I don't respond right away, email me.

[2018-12-29 03:46] SevastyanDark commented on #267
What is EFT? 😄

[2019-01-01 17:31] MatthewKush commented on #262
The performance is still really bad I hate to say. The renderer is way too slow.

I'm reading about various ways to optiomize D3D today.

I think one major change that will be necessary is getting rid of all the different deffer_base.. files, and doing all surfaces in a single shader. I know how to do it but it will take a while.

[2019-01-01 17:59] SevastyanDark commented on #262
May be use vulkan?
Also, you can use hlsl, just with a few minor changes

[2019-01-01 19:54] MatthewKush commented on #262
@SevastyanDark I agree with you but unfortunately I only know D3D and I hear Vulkan is a really hard to learn.
I've tried it a few times and end up confused.
D3D is nowhere near as good but it's simpler to write.

[2019-01-02 14:11] ForserX opened #268 "Vulkan Render"
Implementation Vulkan Render

[2019-01-02 14:14] ForserX opened #269 "OGL Render for Android and Metal for iOS"

[2019-01-02 15:14] MatthewKush commented on #267
I'm closing this because I found some people that wanted them.

[2019-01-02 15:14] #267 closed

[2019-01-02 18:45] MatthewKush commented on #268
Bold.
Are you guys sure you're ready to implement such a complex rendering system? I hope you guys understand, this isn't like D3D or OpenGL, Vulkan is tough to learn, like D3D12, and requires very good multi-threading in order to be efficient.

If that's what you guys want though, then I'll volunteer to do the shaders. I can't volunteer for the C++ part as it's out of my league.

[2019-01-02 20:00] ForserX commented on #268
This is a deliberate decision.

[2019-01-03 21:45] MatthewKush commented on #268
Good enough for me. I'll see if I can help.

[2019-01-03 23:32] MatthewKush commented on #262
I just observed something interesting:
I played vanilla Stalker with r3_gbuffer_opt on (default) and off.

When off, it doesn't compress the gbuffer, it uses all three render-targets. The result is an INCREASE in FPS and overall less-stuttering. I noticed that in K.D's comments about SOC, he mentioned that a bigger gbuffer could actually be a good thing.

I need help reverting the removal of the g

[2019-01-04 05:19] SevastyanDark commented on #268
фига се. окси хотят на линукс и мак портировать.

[2019-01-04 05:20] SevastyanDark commented on #269
Why OGL for android? the vulkan is better

[2019-01-04 22:46] mrnotbadguy commented on #269
@SevastyanDark because vulkan has support from android 7 only. It's a small part of android devices.

[2019-01-09 15:48] Chel0861 commented on #269
@mrnotbadguy also not every chipset on android devices have vulkan support

[2019-01-10 09:11] Giperionn commented on #227
Both. Both is good.

[2019-01-13 16:55] ForserX commented on #227
# Done

[2019-01-13 16:55] #227 closed

[2019-01-16 21:48] MatthewKush commented on #254
I just fixed this, closing this issue.

[2019-01-16 21:48] #254 closed

[2019-01-27 19:19] PavlovOdessa opened #274 "need_osoznanie_mode"
Восстановить скрытие верхний части диалога. Как было в ЧН при стартовом диалоге с Лебедевым.

[2019-01-28 06:05] darkhpp commented on #248
Done

[2019-01-28 06:05] #248 closed

[2019-01-31 20:55] #253 closed

[2019-02-04 16:30] Balathruin commented on #241
If someone wants to port it:
https://github.com/revolucas/CoC-Xray/commit/269029f958d598140494458ae8015aecd208ac1f
https://github.com/revolucas/CoC-Xray/commit/1dc8b4cafb5413ffe6ebda93b841a4141e720035

[2019-02-14 21:09] ForserX opened #277 "XInput. Hellow, XBox Controllers!"
- [x] Added controller support

Check: xr_input.cpp

[2019-02-22 16:14] ForserX opened #279 "RawInput"
- [x] Add support RawInput system to **CInput** (xr_input.h).
Need help! I'm allergic to WinStyle API.

Uncomment **RAW_INPUT_USE** (FRayBuildConfigs.hpp) for check progress.
**P.S.** DXInput is dead!

[2019-03-15 13:43] ghost opened #280 "[Bug] "game running but not presenting""
**Describe the bug**
According to the log in C:\Program Data\Nvidia Corporation\Shadowplay\ there should be a log file named "CaptureCore.log" (for me at least).

Here's what mine reads in regards to xrengine.exe:

[code]

This error repeats, line after line, updating many times each minute.

This could be just a Nvidia Shadowplay capture issue, or it seems to me like it could be a glimpse at a bi

[2019-03-15 15:23] darkhpp commented on #280
Very odd. Have you tried in window/-borderless mode?

[2019-03-16 20:44] Borshig commented on #280
is it working without ShadowPlay capture?

[2019-04-02 11:06] #279 closed

[2019-04-02 11:06] #277 closed

[2019-04-19 12:01] Volkinaz commented on #269
Все устройства способные запустить данный проект поддерживают Vulkan. Те что не поддерживают просто не потянут в любом случае. Также учитывайте что не нужен будет Metal, т.к. можно использовать MotenVK который на данный момент в великолепной форме.

[2019-05-07 20:17] ForserX opened #286 "Normal FontSystem"
The engine uses a system of rasterized fonts. Such a system was relevant for 2000-2005, but now it has become too difficult for users.

**There are two options for further action:**
-[ ] Use TrueType font
-[ ] Make automatic font conversion

[2019-05-21 18:46] ForserX opened #288 "64 => 128 => 170 bones"
- [x] Use VisMask for 128 bones
- [x] Update skin.h for 128

- [ ] Use std::bitset for 170 and more (Thx @StalkMen)
- [x] Update skin.h for 128 and more

[2019-06-14 21:13] InNoHurryToCode opened #289 "Visual glitches ingame"
**Describe the bug**
Edge detection is going haywire.

**To Reproduce**
Steps to reproduce the behavior:
1. Crank up all the settings to maximum possible
2. Make sure that SMAA is the antialiassing mode and screenspace is OGSE
3. start a new game

**Expected behavior**
To not see yellow edge detection all over the screen

**Screenshots**
![14-06-2019 23-05-01 (zaton)](https://user-images.githubuse

[2019-06-14 21:19] InNoHurryToCode commented on #289
I'm getting this also with different settings.

**Attachments**
[userdata.zip](https://github.com/xrOxygen/xray-oxygen/files/3292254/userdata.zip)

[2019-06-14 21:56] ForserX commented on #289
Disable color grading

[2019-06-14 22:35] InNoHurryToCode commented on #289
@ForserX thanks for the fast response! Where can I disable this?

[2019-06-14 22:48] InNoHurryToCode commented on #289
Thanks for your fast response. It worked!
I wonder out of curiosity, why is my pc not capable of handling the color grading option?

[2019-06-15 15:25] ForserX commented on #289
Shader bug, sorry

[2019-06-18 09:27] InNoHurryToCode commented on #289
No problem @ForserX, bugs happen :). Will close the issue as there is a workaround!

[2019-06-18 09:27] #289 closed

[2019-07-02 14:56] JIuBeP opened #293 "тень от главного героя отображается с низким фреймрейтом"
Здравствуйте. Заметил на последней версии 2.0.1 странную особенность, тень от гг отображает его движения довольно замедленно, пропуская кадры. Интересно, что при включенном фонарике все в порядке.

Также при вводе в консоль demo_record 1 не могу управлять камерой.
win 7 x64

[2019-07-29 18:29] ForserX opened #296 "Intel Iris"
Need impl Intel Iris GPU detect code
- [ ] WinAPI
- [ ] IntelMedia SDK
- [ ] ???

[2019-07-29 18:29] #288 closed

[2019-07-29 18:31] #280 closed

[2019-07-29 18:36] ForserX opened #297 "Remove DirectX9Math"
Need use XRay math classes. FMatrix, FVector and another.
@qweasdd136963, do you help?

[2019-08-02 17:52] PiMoNFeeD opened #299 "XInput: при нажатии кнопки A на геймпаде срабатывает ЛКМ"
хз как насчёт самой игры, не тестил, но в настройках управления при нажатии A почему-то показывает "LMouse", в оригинале было что-то похожее (если раскомментировать закоментированный код xinput и скомпилить), только там после нажатия на A каждый кадр срабатывал ЛКМ, здесь вроде бы не каждый кадр, но всё же баг есть

[2019-08-17 18:04] Giperion opened #302 "Deal with config extensions"
CCC_LoadCFG class (cfg_load) loading files with .ltx extension only.
If you attempt to load other file with already defined extension (like *.cfg) it will try to load *.ltx file anyway.

[2019-08-17 18:06] ForserX commented on #302
WIP: #301
I don't have PC, need help

[2019-08-18 17:00] CallOBock opened #303 "Cannot load xrEngine.dll"
**Describe the bug**
При запуске игры - Cannot load xrEngine.dll

**To Reproduce**
1. Установить Steam версию игры.
2. Установить OxygenSetup.exe релиза X-Ray Oxygen 1.7f Preview 3 August 2019

**Screenshots**
![изображение](https://user-images.githubusercontent.com/33382201/63227746-7aeb5400-c1f2-11e9-8e3a-0f57550c0e38.png)

Версия ОС: Windows 10 x64
Лог файл:
[xray.log](https://github.com/xrOxyg

[2019-08-18 22:33] DJYar commented on #302
xr_ioc_cmd.cpp line 206
You just may remove 2 lines:
[code]

[2019-08-19 19:41] Giperion commented on #303
Я посмотрю на след. неделе

[2019-08-27 22:45] #303 closed

[2019-09-11 20:05] JIuBeP opened #305 "баг с неотображением хитмарков на поверхностях"
К Примеру стреляя по любым поверхностям должны оставаться дырки после выстрела, но их нет, а раньше точно были.
Также наткнулся на случайную проблему с невозможностью идти вперед на W, хотя остальные направления работали, не понял из-за чего, но иногда может возникнуть.
Также иногда после начала игры не нажимаются опции, хотя остальные функции работают нормально.

[2019-09-25 03:09] MonoLityczny commented on #262
amen

[2019-09-25 09:18] #262 closed

[2019-10-09 15:18] ForserX commented on #257
Branch removed. Bye-bye

[2019-10-09 15:18] #257 closed

[2019-10-16 13:37] PavelBlend opened #308 "[xrLC] Отключить сжатие у текстуры terrain'а"
У лайтмап отключено сжатие. Они сохраняются в формате ABGR 8:8:8:8. У террейна тоже есть лайтмапа, например, terrain_level_lm.dds. И у неё тоже отключено сжатие и она весит 16 МБ при разрешении 2048x2048. Но текстура terrain_level.dds сохраняется со сжатием и она весит 4 МБ при том же разрешении.

Предложение: отключить сжатие для текстур terrain_level.dds, так как они хранят запечённое hemi освещ

[2019-10-16 13:43] PavelBlend opened #309 "[xrLC] неправильно пишется имя стадии компиляции"
**Describe the bug**
При компиляции уровня xrLC неправильно пишет имя стадии компиляции:
![01](https://user-images.githubusercontent.com/7983249/66924754-df306580-f033-11e9-8970-52c54b3646a1.jpg)

На скриншоте написано Light Implicit, хотя эта стадия уже давно завершена (выше написано Done).

[2019-11-05 01:18] Giperion opened #310 "UTF-8 не поддерживается системой вывода отладочных сообщений. Его нельзя использовать"
UTF-8 не поддерживается системой вывода отладочных сообщений. Его нельзя использовать

_Originally posted by @Giperion in https://github.com/xrOxygen/xray-oxygen/pull/306/review_comment/create_

[2020-01-07 21:25] ForserX opened #313 "Mode "Thief""
The principle of the mode is the same as Fallout 3 and later. Sat down, opened the inventory, not noticed - well, I noticed - and opened fire.

[2020-01-28 18:50] ForserX opened #316 "ChaisScript - Secondary scripting system"
Lua will be deleted anyway. The main scripting system will be Spectre with its C# and VB.NET, but, what about an alternative system for people who don't want to mess with .NET?

[2020-01-28 19:40] ViHtarb commented on #316
Go Kotlin

[2020-01-29 04:37] Giperion commented on #316
ForserX you drunk, go home

[2020-01-30 13:24] demeshchik commented on #269
@mrnotbadguy according to this: https://developer.android.com/about/dashboards almost 58% of Android-devices have Android 7 or upper. I think it definitely makes sense to use Vulkan, since codebase could be shared between PC-versions as well.

[2020-03-27 20:33] xrModder opened #318 "Погодные фичи"
* [ ] добавить независимое вращение clouds от skybox;
* [ ] добавить поддержку полноразмерных skybox текстур (оригинал "половинчатый");
* [ ] добавить вращение skybox по вертикальной оси;
* [ ] убрать эффект тумана от skybox и добавить отдельную текстуру тумана (fog);
* [ ] заменить skybox и fog на сферический вариант.

[2020-03-27 20:34] ForserX commented on #318
Облака переключены на вектор ветра.

[2020-03-30 12:33] LVutner commented on #318
Maybe just replace sky with procedural one?

[2020-04-01 18:24] xrModder commented on #318
@LVutner это навряд ли, тем более для такого древнего движка.

[2020-04-01 18:26] Xottab-DUTY commented on #318
@xrModder, товарищ Lancevrot реализовал процедурное небо, нормально. 🙂

[2020-04-10 23:00] LVutner commented on #318
https://github.com/wwwtyro/glsl-atmosphere - You can use this shader for procedural skybox, as everyone does.
That "old and bad" engine works pretty well with it.

![ss_lv_04-02-20_13-57-07_(l13_generators)](https://user-images.githubusercontent.com/22204253/79028316-d0181380-7b8f-11ea-88f8-5bc955b79db5.jpg)

[2020-04-10 23:06] Giperion commented on #318
@LVutner X-Ray Oxygen working only with HLSL.
Did that screenshot from the game, that using that skybox shader? It looks very bad and has poor detail comparing with original.

[2020-04-10 23:08] LVutner commented on #318
You can easily convert that shader to HLSL.

IDK how you can expect fireworks and other stuff out of procedural skybox :facepalm: Skybox is just 50% of sky, you need to deal with clouds, night and few other things... Still, that shader is OK entry point for procedural weather.
Maybe Swartz will wake up and tell us something :v

[2020-04-10 23:09] Giperion commented on #318
@LVutner I can't easily convert that shader to HLSL :)
Why original skybox worse then this?

[2020-04-10 23:12] LVutner commented on #318
No one said it's worse :D

For me, procedural sky is okay. There's more work with it (you need to create better clouds, and of course think about night, stars) - but then, you end up with pretty solid, and nice looking graphics.
Plus, it's worth to mention that you do not need to use textures for skyboxes - that's another good thing.
It's just my personal opinion

[2020-04-10 23:15] Giperion commented on #318
Custom skyboxes are more detailed, and bring more atmosphere then some generic procedure algorithms. I'm not agains procedural skyboxes, I did'nt understand why we need this right now, instead of other important jobs.

[2020-04-11 14:08] xrModder commented on #318
@LVutner Умеет ли ваш шейдер реализовать вот это:
![](https://images.gameru.net/image/direct/4486d1a58a22de1.png)